/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styling */
body {
    font-family: 'Pirata One', sans-serif;
    background-color: #0d0d0d;
    color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

/* Overlay Styling */
#enter-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(13, 13, 13, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 10;
}

.glitch {
    font-size: 1em;
    color: #FFFFFF;
    animation: glitch 0.25s infinite;
    font-family: 'Courier New', monospace;
}

/* Glitch effect */
@keyframes glitch {
    0% { text-shadow: 2px 0 red, -2px 0 cyan; }
    50% { text-shadow: -2px 0 red, 2px 0 cyan; }
    100% { text-shadow: 2px 0 red, -2px 0 cyan; }
}

.meow {
    color: #ffffff;
    font-size: 19px;
    text-shadow: 2px 2px #c0c0c0;
    margin-top: -10px;
}
